# Ignore virtual environment directory
.venv/

# Ignore large shared object files
*.dylib
*.so

# Ignore log files
*.log

# Ignore Git temporary files
.git/*.venv/

# System files
.DS_Store

# Python environment files
.env
djangoenv/
__pycache__/

# VSCode settings
.vscode/

# DVC cache directory (if needed)
.dvc/

# Backup or old files
oldfiles/

# Anything else you don't want tracked